@import "tailwindcss";

/* daisyUI plugin with theme configuration */
@plugin "daisyui" {
  themes: all;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}